###### Packages installable with pip ######
numpy
scipy
uvloop ; sys_platform == "linux" or sys_platform == "darwin"
websockets < 14.0

###### Other packages ######
## ccpca: refer to https://github.com/takanori-fujiwara/ccpca
## multidr: refer to https://github.com/takanori-fujiwara/multidr
ccpca >= 0.13
multidr >= 0.01
